<div class="row" *ngIf="movie">
    <div class="col-md-6">
        <!-- Imagen -->
        <img [src]="movie.poster_path | poster" [alt]="movie.title" class="img-thumbnail" />
    </div>
    <div class="col-md-6">
        <!-- Details -->
        <h3>{{ movie.title }}</h3>

        <div class="row">
            <div class="col">
                <star-rating value="{{ movie.vote_average }}" totalstars="10" checkedcolor="yellow" uncheckedcolor="grey" size="15px" readonly="false"></star-rating>
            </div>
            <div class="col text-white">
                {{ movie.vote_average | number: "1.1-2" }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-white">
                {{ movie.overview }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-info mt-5" (click)="onReturnBack()">
          Regresar
        </button>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cast.length > 0">
    <div class="col mt-5">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
    </div>
</div>