<h1>Cartelera</h1>

<div class="row">
    <div class="col" *ngIf="movies.length > 0">
        <app-slideshow [movies]="moviesSlideshow"></app-slideshow>
    </div>
</div>

<h1 class="mt-5">Películas</h1>

<div class="row">
    <app-peliculas-poster-grid *ngIf="movies.length > 0" [movies]="movies">
    </app-peliculas-poster-grid>
</div>
