<h1>
    Buscar películas <small class="text-capitalize">{{ text }}</small>
</h1>
<hr />

<div class="row">
    <div class="col">
        <app-peliculas-poster-grid [movies]="movies"></app-peliculas-poster-grid>
    </div>
</div>
