<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div *ngFor="let movie of movies" class="swiper-slide" [ngStyle]="{
        'background-size': 'cover',
        'background-image':
          'url(https://image.tmdb.org/t/p/w500' + movie.backdrop_path + ')'
      }">
            <div class="movie-description">
                <h3>{{ movie.title }}</h3>
                <p>
                    <!-- slice:0:130 -> texto hasta 130 caracteres  -->
                    {{ movie.overview | slice: 0:130 }}
                </p>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>
</div>
